/* CSS start */
html,
body {
  background: #fff;
  font-family: 'Russo One', sans-serif;
  text-align: center;
  color: #000;
}

/* Content Line */

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#listaPokemons{
  width: 100%;
  margin: 16px;
}

tr {
  display: flex;
}

th {
  width: 30%;
}

#nome {
  text-transform: capitalize;
  width:40vw;
}

th{
  display: flex;
  justify-content: center;
  align-items: center;
}

#lixeira {
  fill: #000;
  width: 6vw;
  height: 6vh;
  cursor: pointer;
}



